body {
  background: #dfe1ed;
  height: 100vh;
}
.full-page {
  background: #dfe1ed;
}
.bordered-radius {
  border: 1px solid grey;
}

.lighten-blue-gray {
  background: #f1f2f7;
}

.custom-radius {
  
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
